body {
  margin: 0;
  font-family: Inter, Arial;
  background: #0b0b0b;
  color: white;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: #111;
}

.navbar button {
  background: none;
  border: none;
  color: #aaa;
  margin: 0 8px;
  cursor: pointer;
}

.navbar button:hover {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: #141414;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.price span {
  text-decoration: line-through;
  color: #777;
}

.product-page {
  max-width: 500px;
  margin: 60px auto;
  text-align: center;
}

.buy {
  display: block;
  margin-top: 20px;
  padding: 14px;
  background: #00d632;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}
