body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.navbar {
  background: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.logo span {
  color: red;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 40px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.price span {
  text-decoration: line-through;
  color: gray;
  margin-left: 5px;
}
