.buy-btn {
  display: block;
  margin-top: 12px;
  padding: 10px;
  text-align: center;
  background: #00d632;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
}

.buy-btn:hover {
  background: #00b92a;
}

.footer {
  text-align: center;
  padding: 40px 20px;
  font-size: 14px;
}

.footer a {
  display: inline-block;
  margin: 10px 0;
}

.disclaimer {
  margin-top: 15px;
  font-size: 12px;
  color: #777;
}
